@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500,700,900&display=swap");
html {
  overflow: auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
p {
  line-height: 1.55;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
.bold {
  font-weight: 600;
}
header {
  position: relative;
  padding: 100px 0;
  background: url("../img/aboutBg.jpg") center center / cover;
  min-height: 800px;
  height: auto !important;
  height: 300px;
}
header::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .header__container .header__title {
  text-align: left;
}
header .header__container .header__title h1 {
  position: relative;
  z-index: 3;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  font-size: 68px;
  font-weight: 700 !important;
}
header .header__container .header__form {
  position: relative;
  z-index: 3;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-width: 150px;
  background-color: white;
}
header .header__container .header__form form {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}
header .header__container .header__form form p {
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  font-size: 300;
}
header .header__container .header__form form p:first-child {
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: black;
  font-weight: 700;
}
header .header__container .header__form form .label {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 30px;
  white-space: nowrap;
}
header .header__container .header__form form .label label {
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 16px;
}
header .header__container .header__form form .label label span {
  color: #333;
}
header .header__container .header__form form .label input {
  border-bottom: 2px solid transparent !important;
  font-size: 17px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  line-height: 15px;
  padding: 15px 25px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
}
header .header__container .header__form form .label input:focus {
  border-bottom: 2px solid blue !important;
}
header .header__container .header__form form .label input:focus + label {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(-1%, -260%);
          transform: translate(-1%, -260%);
}
header .header__container .header__form form textarea {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 30px;
  resize: none;
  overflow: auto;
}
header .header__container .header__form form .btn__container {
  margin-bottom: 30px;
}
header .header__container .header__form form .btn__container .sender {
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 10px;
}
.history {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #eeee;
}
.history .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.history .container .card__text {
  text-align: justify;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  padding: 44px 20px;
  background-color: white;
}
.history .container .card__text p {
  line-height: 1.55;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif !important;
}
.history .card__photos {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.history .card__photos iframe {
  width: 100%;
  height: 100%;
}
.history .card__photos img {
  width: 100%;
  margin-bottom: 30px;
}
.history .card__photos img:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 15px;
  z-index: 10;
}
.history .card__photos .card_photos-double {
  max-height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.history .card__photos .card_photos-double img {
  margin-right: 30px;
  width: 47%;
  height: 50%;
}
.history .card__photos .card_photos-double img:active {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}
.history .card__photos .card_photos-double img:last-child {
  margin: 0;
}
.icons {
  background-color: white;
}
.icons .container {
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.icons .container .icons__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.icons .container .icons__top .icons__top-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-height: 300px;
  height: auto !important;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.icons .container .icons__top .icons__top-item h1 {
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
}
.icons .container .icons__top .icons__top-item img {
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
}
.icons .container .icons__top .icons__top-item p {
  margin-top: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
}
.slider {
  max-width: 100vw;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: #eee;
  padding-bottom: 20px;
}
.slider .slider__aria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider .slider__aria .slider__content .inner_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: relative;
  width: 100vw;
  padding: 20px 100px;
}
.slider .slider__aria .slider__content .inner_wrapper .userReview {
  padding: 20px 20px;
  overflow-y: auto;
  min-height: 10vh !important;
  max-height: 10vh !important;
}
.slider .slider__aria .slider__content .inner_wrapper p {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  z-index: 2;
  font-size: 17px;
  margin: 0 0 20px;
}
.slider .slider__aria .slider__content .inner_wrapper p:not(:first-child) {
  font-family: 15px "Roboto", Arial, sans-serif;
}
.slider .slider__aria .slider__content .inner_wrapper h1 {
  margin: 0 0 2px;
  font-size: 15px;
}
.slider .left-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 55px !important;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
}
.slider .right-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 55px;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}
.slider .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.slider .dots .dot {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: #7a7a7a;
  border-radius: 100%;
  cursor: pointer;
}
.slider .dots .dot:first-child {
  background-color: black;
}
.slider .dots .dot:last-child {
  margin: 0;
}
.slider_right {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}
.slider_left {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}
.instagram {
  background-color: white;
}
.instagram p {
  font-family: "Open Sans", Arial, sans-serif !important;
  font-size: 12px;
  padding: 12px 0;
  text-align: center;
}
.instagram .container .insta__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.instagram .container .insta__card .insta__card-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.instagram .container .insta__card .insta__card-double .insta__card-doubleItem img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}
.instagram .container .insta__card .insta__card-double .insta__card-doubleItem img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}
.map {
  background-color: white;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 20px;
}
.map .map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.map .map__container .map__element {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 90px;
}
.map .map__container .map__element p {
  margin-bottom: 15px !important;
}
.map .map__container .map__element ul {
  margin-left: 35px;
}
.map .map__container .map__element ul li {
  margin-bottom: 5px;
}
.map .map__container .map__element ul li:last-child {
  margin-bottom: 15px;
}
.map .map__container .map__element:last-child {
  padding: 90px;
}
.map .map__container .map__element h1 {
  font-weight: 1000;
  margin-bottom: 30px;
  font-size: 26px;
}
.map .map__container .map__element p {
  font-size: 16px;
  margin-bottom: 30px;
}
.map .map__container .map__element p:first-child {
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
}
.map .map__container .map__element p:nth-child(3) {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
}
footer {
  font-family: "Open Sans", Arial, sans-serif;
  padding: 10px 0;
  background-color: black;
  min-height: 100px;
  height: auto !important;
  height: 300px;
}
footer .footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer__line .logo {
  min-width: 120px;
}
footer .footer__line ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__line ul li {
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer .footer__line ul li:last-child {
  margin: 0;
}
footer .footer__line ul li a {
  color: white;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  padding: 10px 20px;
}
textarea {
  background-color: #f0f0f0;
  border: none;
  outline: none;
  padding: 10px;
}
p,
h1 {
  font-weight: 300;
  font-family: 15px "Open Sans", sans-serif;
}
@media (max-width: 1200px) {
  header {
    padding: 20px !important;
  }
  .container {
    max-width: 970px;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__text {
    margin-bottom: 30px;
  }
  .card__photos iframe {
    width: 100%;
    height: 100%;
    min-height: 50vh;
  }
  .card__photos img:hover {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0 35px;
  }
  .header__container .header__title {
    margin-bottom: 30px;
  }
  .header__container .header__title h1 {
    font-size: 2em !important;
    text-align: center;
  }
  .map__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .map__container .map__element {
    width: 50%;
  }
  .map__container .map__element:last-child {
    padding: 0 !important;
    padding-top: 50px !important;
  }
  .pano_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .icons__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons__top-item {
    padding: 0;
  }
  .icons__top-item h1 {
    white-space: wrap;
    font-size: 15px;
  }
  .map__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map__container .map__element {
    width: 80%;
  }
  .footer__line {
    text-align: center;
    font-size: 12px;
  }
  .dots {
    bottom: 0 !important;
  }
}
@media (max-width: 767px) {
  .header__title {
    margin-bottom: 30px;
  }
  .header__title h1 {
    font-size: 1em !important;
    text-align: center;
  }
  .container {
    max-width: none;
  }
  .footer__line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }
  .footer__line .logo {
    max-width: 50px !important;
    margin-bottom: 10px;
  }
  .footer__line ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__line ul li {
    margin-right: 20px !important;
  }
  .footer__line ul li:last-child {
    margin-right: 0px !important;
  }
}
@media (max-width: 420px) {
  .header__container {
    padding: 0 !important;
  }
  .header__container .header__title {
    margin-bottom: 30px;
  }
  .header__container .header__title h1 {
    font-size: 20px !important;
    text-align: center;
  }
}
a {
  text-decoration: none;
  color: black;
}
.panorama {
  padding: 0px;
  position: relative;
  background-color: #333;
  background-color: white;
}
.panorama .pano_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.panorama .pano_cont .fr {
  border: none;
  overflow: hidden !important;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0;
  width: 100vw;
}
.panorama .pano_cont .fr iframe {
  border: none;
  width: 100% !important;
  height: 50vh;
}
.panorama .pano_cont .pano_text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  min-height: 50vh;
  background-color: #333;
  color: white;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.panorama .pano_cont .pano_text hr {
  margin-bottom: 10px;
}
.panorama .pano_cont .pano_text h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Roboto", Arial, sans-serif !important;
}
.panorama .pano_cont .pano_text .pano_texter {
  padding: 20px;
}
.panorama .pano_cont .pano_text .pano_texter .app-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.panorama .pano_cont .pano_text .pano_texter a {
  padding-bottom: 20px;
}
.panorama .pano_cont .pano_text .pano_texter a img {
  max-width: 200px !important;
}
.panorama .pano_cont .pano_text h1 {
  font-weight: 1000;
  font-size: 26px;
  text-align: center;
}
.panorama .pano_cont .pano_text p {
  font-size: 16px;
  margin-bottom: 30px;
}
.panorama .pano_cont .pano_text p:first-child {
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
}
.panorama .pano_cont .pano_text p:nth-child(3) {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
}
.app-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/apple.svg") center center / cover;
}
.app-store a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
}
.app-store a img {
  max-width: 250px !important;
}
.app-store a:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.app-store a:last-child {
  margin: 0;
  margin-left: 20px;
}
section {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #eeee;
}
section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
em {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(10%, 100%);
          transform: translate(10%, 100%);
  opacity: 0;
  color: blue;
}
.open_text {
  max-height: 50vh !important;
  overflow: auto;
}
